<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <h1>Welcome</h1>
    <a href="/admin/adminHome"><button>Admin</button></a>
    <a href="/guest/guestHome"><button>Guest</button></a>
    <a href="/patient/patientHome"><button>Patient</button></a>
    <a href="/pharmacist/pharmacistHome"><button>Pharmacist</button></a>
</body>
</html>
