<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome to the Home Page</h1>
    <p>This is your home page content.</p>

    <!-- Buttons that redirect to different pages -->
    <a href="/admin/adminHome"><button>Admin Home</button></a>
    <a href="/guest/guestHome"><button>Guest Home</button></a>
    <a href="/patient/patientHome"><button>Patient Home</button></a>
    <a href="/pharmacist/pharmacistHome"><button>Pharmacist Home</button></a>
</body>
</html>
