<!DOCTYPE html>
<html>
<head>
    <title>Medicine List</title>
</head>
<body>
    <h1>Medicine List</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Details</th>
                <th>Sales</th>
            </tr>
        </thead>
        <tbody>
            <% medicines.forEach(medicine => { %>
                <tr>
                    <td><%= medicine.name %></td>
                    <td><%= medicine.detail %></td>
                    <td><%= medicine.sales %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</body>
</html>
