<!DOCTYPE html>
<html>
<head>
    <title>Pharmacist Page</title>
</head>
<body>
    <h1>Welcome to the pharmacist Page</h1>
    <p>This is the pharmacist page content.</p>

    <!-- Button that redirects to the "/admin/medicines" page -->
    <a href="/pharmacist/medicines"><button>Medicines</button></a>
    <a href="/pharmacist/createMedicines"><button>Create Medicine</button></a>
    <a href="/pharmacist/getDetailSales"><button>Get Details And Sales</button></a>
    <a href="/pharmacist/editMedicine"><button>Edit Medicines</button></a>
</body>
</html>
