<!DOCTYPE html>
<html>
<head>
    <title>Pharmacist</title>
</head>
<body>
    <h1>Welcome Pharmacist</h1>
    <a href="/pharmacist/medicines"><button>Medicines</button></a>
    <a href="/pharmacist/createMedicines"><button>Create Medicine</button></a>
    <a href="/pharmacist/getDetailSales"><button>Get Details And Sales</button></a>
    <a href="/pharmacist/editMedicine"><button>Edit Medicine</button></a>
    <a href="/pharmacist/change-password"><button>Change Password</button></a>
    <a href="/logout"><button>Logout</button></a>
</body>
</html>
