<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Change Password</title>
</head>
<body>
  <h1>Change Password</h1>

  <% if (message) { %>
    <div class="<%= message.type %>">
      <%= message.text %>
    </div>
  <% } %>

  <form action="/pharmacist/resetPassword" method="POST" onsubmit="return validateForm()">
    <label for="newPassword">New Password:</label>
    <input type="password" name="newPassword" id="newPasswordInput" required>

    <div id="passwordError" style="color: red; display: none;">
      Password must contain at least 1 uppercase letter, 1 lowercase letter, no spaces, and at least 1 special symbol.
    </div>
    <button type="submit" id="submitButton" disabled>Change Password</button>
  </form>
  <a href="/logout"><button>Logout</button></a>

  <script>
    const newPasswordInput = document.getElementById("newPasswordInput");
    const passwordError = document.getElementById("passwordError");
    const submitButton = document.getElementById("submitButton");

    newPasswordInput.addEventListener("input", () => {
      if (!isValidPassword(newPasswordInput.value)) {
        passwordError.style.display = "block";
        submitButton.disabled = true;
      } else {
        passwordError.style.display = "none";
        submitButton.disabled = false;
      }
    });

    function isValidPassword(password) {
      const regex = /^(?=.*[a-z])(?=.*[A-Z])(?!.*\s)(?=.*[!@#$%^&*])/;
      return regex.test(password);
    }

    function validateForm() {
      return isValidPassword(newPasswordInput.value);
    }
  </script>
</body>
</html>
