<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Total Sales By Month</title>
</head>
<body>
    <h1>Total Sales By Month</h1>

    <form action="/pharmacist/salesReport" method="POST">
        <label for="month">Enter Month:</label>
        <input type="text" id="month" name="month" required>
        <button type="submit">Get Total Sales</button>
    </form>

</body>
</html>
