<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Total Sales By Month</title>
</head>
<body>
    <h1>Total Sales By Month</h1>

    <% if (totalSales !== undefined) { %>
        <p>Total Sales for  <%= totalSales %></p>
    <% } %>

</body>
</html>
