<!DOCTYPE html>
<html>
<head>
    <title>Admin Page</title>
</head>
<body>
    <h1>Welcome Admin</h1>

    <!-- Button that redirects to the "/admin/medicines" page -->
    <a href="/admin/medicines"><button>Medicines</button></a>
    <a href="/admin/addadministrator"><button>Add Administrator</button></a>
    <a href="/admin/removePharmacist"><button>Remove Pharmacist</button></a>
    <a href="/admin/removePatient"><button>Remove Patient</button></a>
</body>
</html>
