<!DOCTYPE html>
<html>
<head>
    <title>Admin Page</title>
</head>
<body>
    <h1>Welcome to the Admin Page</h1>
    <p>This is the admin page content.</p>

    <!-- Button that redirects to the "/admin/medicines" page -->
    <a href="/admin/medicines"><button>Medicines</button></a>
</body>
</html>
