<!DOCTYPE html>
<html>
<head>
  <title>Remove Pharmacist</title>
</head>
<body>
  <h1>Remove Pharmacist</h1>
  <form id="removepharmacist">
    <label>
      Name:
      <input type="text" id="name" />
    </label>
    <br />
    <button type="submit">Remove Pharmacist</button>
  </form>
  <p id="message"></p>
  <a href="/logout"><button>Logout</button></a>

  <script>
    const form = document.getElementById('removepharmacist');
    const n = document.getElementById('name');
    const message = document.getElementById('message');

    form.addEventListener('submit', (event) => {
      event.preventDefault();

      const name = n.value;

      fetch('/admin/removePharmacist', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ name }),
      })
        .then((response) => response.json())
        .then((data) => {
          message.textContent = data.message;
          un.value = '';
        })
        .catch((error) => console.error(error));
    });
  </script>
</body>
</html>
