<!DOCTYPE html>
<html>
<head>
    <title>Guest</title>
</head>
<body>
    <h1>Welcome Guest</h1>
    <a href="/guest/createPatient"><button>Register Patient</button></a>
    <a href="/guest/createRequest"><button>Register Pharmacist</button></a>
</body>
</html>
