<!DOCTYPE html>
<html>
<head>
    <title>Patient</title>
</head>
<body>
    <h1>Welcome Patient</h1>
    <a href="/patient/medicines"><button>Medicines</button></a>
    <a href="/patient/change-password"><button>Change Password</button></a>
    <a href="/logout"><button>Logout</button></a>
</body>
</html>
