<!DOCTYPE html>
<html>
<head>
    <title>Patient</title>
</head>
<body>
    <h1>Welcome Patient</h1>
    
    <p>Wallet Amount: <%= walletAmount %></p>
    
    <a href="/patient/medicines"><button>Medicines</button></a>
    <a href="/patient/change-password"><button>Change Password</button></a>
    <a href="/patient/shoppingCart"><button>Shopping Cart</button></a>
    <a href="/patient/orders"><button>View Orders</button></a>
    <a href="/patient/chat"><button>Chat With Pharmacist</button></a>
    <a href="/logout"><button>Logout</button></a>
</body>
</html>
